<app-header></app-header> 

<mat-sidenav-container>

    <div class="contenedor-form">

        <div class="login">

            <form [formGroup]="loginForm" (ngSubmit)="ingresar()">

                <img src="../../../assets/user.png" alt="" width="50%">
                <h1>Iniciar sesión</h1>

                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput required autocomplete="off" formControlName="email">
                </mat-form-field>

                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput required autocomplete="off" formControlName="password">
                </mat-form-field>
 
                <button [disabled]="loginForm.invalid" type="submit" class="button ancho" mat-raised-button color="primary">Ingresar</button>
                
            </form>

            <h3>¿No tienes cuenta? <span> <a href="">Registrate</a> </span></h3>
        </div>
        
        
    </div>

</mat-sidenav-container>
<app-footer></app-footer>
 